.container {
  width: 837px;
}
.menu__top__login {
  width: 35%;
}
.wrap-list {
  justify-content: unset;
  margin-top: 85px;
  margin-bottom: 85px;
}
.display-books {
  padding-top: 120px;
}
.display h1 {
  text-align: left;
}
.card {
  margin-right: 30px;
}
.about {
  height: 700px;
}
.contact-image {
  display: initial;
  width: 25%;
  height: 100%;
}
.contact-form {
  width: 75%;
}
.contact-form-message {
  width: 45%;
}
.contact-form-submit {
  width: 45%;
}
/* .footer__contact-info {
  padding-bottom: 0;
} */
.footer__contact-info-buttons {
  width: 25%;
}
.card:nth-of-type(3n) {
  margin-right: 0;
}
.card:nth-of-type(4n) {
  margin-right: 30px;
}
.contact-form-name,
.contact-form-email,
.contact-form-message,
.contact-form-submit {
  font-size: 1.2rem;
}

.display-books select {
  height: 50px;
  width: 15%;
  padding-left: 15px;
}

.display-books input[type='text'] {
  height: 50px;
  width: 42%;
  padding-left: 15px;
}

.display-books input[type='submit'] {
  height: 50px;
  width: 42%;
}

.login-register-container {
  width: 950px;
}

.register-container {
  display: flex;
}

.login-container {
  border-right: 1px solid white;
  height: 550px;
  padding: unset;
}

.responsive-register-container {
  display: none;
}

.register-form {
  height: 470px;
}

.responsive-login-register--text {
  display: none;
}

.register-welcome {
  padding: unset;
}

.register-welcome h1 {
  font-size: 40px;
}

.register-welcome h2 {
  font-size: 30px;
}

.admin-panel-form {
  width: 600px;
  height: 730px;
  border-top-right-radius: 50px;
}

.admin-panel-close {
  top: 35px;
  right: 35px;
}

.about-container > iframe {
  width: 900px;
}
